/* 头部区域在css在com_header.css */

/* 搜索区域 */
.header {
    width: 100%;
    height: 157px;
    background: #ffffff;
    box-shadow: 0 2px 27px 0 rgb(0 0 0/10%);
}

.header-center {
    width: 1190px;
    height: 157px;
    /* background: rgb(145, 228, 239); */
    margin: 0 auto;
}

/* logo区域 */
.header-center-left {
    width: 295px;
    height: 157px;
    /* background-color: rgb(192, 33, 33); */
    font-size: 0;
    float: left;
}

.header-center-left h1 a img {
    width: 126px;
    height: 46px;
    padding: 28px 60px 64px 0px;
}

.header-center-center {
    width: 550px;
    height: 40px;
    /* background-color: rgb(33, 192, 36); */
    font-size: 0;
    float: left;
    margin-top: 28px;
}

.header-center-center input {
    width: 468px;
    height: 38px;
    border: 1px solid #e5e5e5;
}

.header-center-center button {
    width: 80px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-left-width: 0px;
    background: #ffc300;
}

/* 主体区域 */
.bodyer {
    width: 100%;
    height: 427px;
    /* background: rgb(146, 220, 119); */
}

.bodyer-center {
    width: 1190px;
    height: 427px;
    /* background: rgb(112, 91, 227); */
    margin: 0 auto;
}

/* 全部分类 */
.bodyer-center-left {
    width: 228px;
    height: 475px;
    background: #ffffff;
    float: left;
    margin-top: -50px;
    border: 1px solid #E5E5E5;
}

/* 全部分类的详细效果 */
.bodyer-center-left span:nth-child(1) {
    color: #222;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
}

/* li列表项的效果 */
.bodyer-center-left ul li {
    width: 218px;
    height: 22px;
    padding: 2px 0px 2px 12px;
    position: relative;
}

/* hover颜色的改变 */
.bodyer-center-left ul li:hover {
    background: #FFC300;
}

.bodyer-center-left ul li span:hover {
    color: #000;
    font-weight: 600;
}

.bodyer-center-left ul li span {
    font-size: 13px;
    line-height: 22px;
    color: #646464;
    cursor: pointer;
    /* 鼠标光标变成小手 */
}

.bodyer-center-left ul li b {
    position: absolute;
    right: 13px;
    color: #646464;
    font-weight: 100;
}

/* 字体图标的颜色更改 */
.icon-earth1 {
    color: #ff8200;
}

.icon-earth2 {
    color: #ffb500;
}

.icon-earth3 {
    color: #9b5e3e;
}

.icon-earth4 {
    color: #ff4081;
}

/* 轮播区域 */
.bodyer-center-center {
    width: 710px;
    height: 475px;
    /* background: rgb(158, 244, 155); */
    float: left;
    margin-top: -50px;
    margin: -50px 8px 0px 8px;
}

/* 副导航 */
.bodyer-center-center-top {
    width: 710px;
    height: 50px;
    line-height: 50px;
    background: #fff;
}

.bodyer-center-center-top a:nth-child(1) {
    padding-left: 45px;
}

.bodyer-center-center-top a {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    padding: 0px 15px;
}

.bodyer-center-center-top a:hover {
    color: red;
}

/* 底部轮播 */
.bodyer-center-center-bottom {
    width: 710px;
    height: 420px;
    /* background: rgb(233, 148, 148); */
    margin-top: 7px;
}

.bodyer-center-center-bottom div:nth-child(1) {
    width: 550px;
    height: 240px;
    /* border: 1px solid red; */
    background: url("../images/aa1.jpg");
    background-size: cover;
    /* 背景完全展示 */
    float: left;
}

.bodyer-center-center-bottom div:nth-child(2) {
    width: 150px;
    height: 240px;
    /* border: 1px solid red; */
    background: url("../images/aa2.jpg");
    background-size: cover;
    /* 背景完全展示 */
    margin-left: 10px;
    float: left;
}

.bodyer-center-center-bottom div:nth-child(3) {
    width: 270px;
    height: 165px;
    /* border: 1px solid red; */
    background: url("../images/aa4.png");
    background-size: cover;
    /* 背景完全展示 */
    margin-top: 14px;
    float: left;
}

.bodyer-center-center-bottom div:nth-child(4) {
    width: 270px;
    height: 165px;
    /* border: 1px solid red; */
    background: url("../images/aa3.jpg");
    background-size: cover;
    /* 背景完全展示 */
    margin-top: 14px;
    margin-left: 10px;
    float: left;
}

.bodyer-center-center-bottom div:nth-child(5) {
    width: 150px;
    height: 165px;
    /* border: 1px solid red; */
    background: url("../images/aa5.jpg");
    background-size: cover;
    /* 背景完全展示 */
    margin-top: 14px;
    margin-left: 10px;
    float: left;
}

/* 注册与登录 */
.bodyer-center-right {
    width: 230px;
    height: 420px;
    /* background: rgb(80, 218, 228); */
    float: right;
    margin-top: 7px;
}

/* 登录和注册部分 */
.bodyer-center-right-top {
    width: 238px;
    height: 238px;
    border: 1px solid #E5E5E5;
}

.bodyer-center-right-top div:nth-child(1) {
    width: 55px;
    height: 55px;
    background: url("../images/avatar.jpg");
    background-size: cover;
    margin: 0 auto;
    margin-top: 25px;
    border: 5px solid #E5E5E5;
    border-radius: 50%;
}

.bodyer-center-right-top p:nth-child(2) {
    text-align: center;
    color: #222;
    font-size: 16px;
    padding: 5px 0px;
}

.bodyer-center-right-top div:nth-child(3) {
    width: 118px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 40px;
    line-height: 38px;
    text-align: center;
    margin: 10px auto;
}

.bodyer-center-right-top div:nth-child(4) {
    width: 118px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 40px;
    line-height: 38px;
    text-align: center;
    margin: 0 auto;
}

/* 二维码和介绍 */
.bodyer-center-right-bottom {
    width: 238px;
    height: 165px;
    margin-top: 14px;
    border: 1px solid #E5E5E5;
    text-align: center;
}

.bodyer-center-right-bottom div:nth-child(1) {
    width: 95px;
    height: 95px;
    background: url("../images/download-qr.png");
    margin: 0 auto;
    background-size: cover;
}

.bodyer-center-right-bottom p {
    font-size: 16px;
    color: #222;
    font-weight: 500;
    padding: 5px 0px 5px 0px;
}

.bodyer-center-right-bottom span {
    color: #fc4159;
}


/* 猫眼电影 */
.movie {
    width: 100%;
    height: 350px;
    /* background: rgb(201, 234, 81); */
    margin-top: 50px;
}

.movie-center {
    width: 1190px;
    height: 350px;
    /* background: rgb(140, 200, 235); */
    margin: 0 auto;
}

/* 电影介绍 */
.movie-center-top {
    width: 1188px;
    height: 42px;
    line-height: 42px;
    background: #fb3f60;
    border: 1px solid #fb3f60;
    border-radius: 5px 5px 0 0;
}

.movie-center-top span {
    font-size: 18px;
    color: #fff;
    margin-left: 15px;
}

.movie-center-top span:nth-child(1) {
    font-size: 18px;
    font-weight: 800;
}

.movie-center-top span:nth-child(4) {
    font-size: 16px;
    display: block;
    float: right;
    margin-right: 15px;
}

/* 电影列表 */
.movie-center-bottom {
    width: 1188px;
    height: 297px;
}

.movie-center-bottom div {
    width: 214px;
    height: 297px;
    float: left;
    margin: 0px 10px;
}

.movie-center-bottom div:nth-child(1) {
    margin-left: 20px;
}

/* 推荐民宿 */
.hotel {
    width: 100%;
    height: 740px;
    /* background: rgb(81, 234, 152); */
    margin-top: 50px;
}

.hotel-center {
    width: 1190px;
    height: 740px;
    /* background: rgb(188, 140, 235); */
    margin: 0 auto;
}

/* 名宿顶部 */
.hotel-center-top {
    width: 1188px;
    height: 42px;
    line-height: 42px;
    background: #f2bd48;
    border: 1px solid #f2bd48;
    border-radius: 5px 5px 0px 0px;
}

.hotel-center-top span {
    font-size: 18px;
    color: #fff;
    margin-left: 15px;
}

.hotel-center-top span:nth-child(1) {
    font-size: 18px;
    font-weight: 800;
}

.hotel-center-top span:last-child {
    font-size: 16px;
    display: block;
    float: right;
    margin-right: 15px;
}

/* 民宿详情 */
.hotel-center-bottom {
    width: 1188px;
    height: 693px;
    border: 1px solid #e5e5e5;
}

.hotel-center-bottom div {
    width: 370px;
    height: 300px;
    float: left;
    margin: 10px 10px 10px 10px;
}

.hotel-center-bottom div:nth-child(1) {
    margin-left: 20px;
}

.hotel-center-bottom div:nth-child(1) {
    margin-left: 20px;
}

.hotel-center-bottom div a img {
    width: 370px;
    height: 208px;
}

.hotel-center-bottom div span {
    width: 300px;
    height: 30px;
    line-height: 30px;
    /* border: 1px solid red; */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0px 5px 0;
}

.hotel-center-bottom div p {
    color: #999;
    font-size: 14px;
    margin-bottom: 5px;
}

.hotel-center-bottom div b {
    color: #FF6600;
    font-size: 22px;
}

/* 猜你喜欢 */
.like {
    width: 100%;
    height: 592px;
    /* background: rgb(234, 163, 81); */
    margin-top: 50px;
}

.like-center {
    width: 1190px;
    height: 350px;
    /* background: rgb(235, 140, 216); */
    margin: 0 auto;

}

/* 猜你喜欢顶部 */
.like-center-top {
    width: 1188px;
    height: 42px;
    line-height: 42px;
    background: #53b2da;
    border: 1px solid #53b2da;
    border-radius: 5px 5px 0px 0px;
}

.like-center-top span {
    font-size: 18px;
    color: #fff;
    margin-left: 15px;
}

.like-center-top span:nth-child(1) {
    font-size: 18px;
    font-weight: 800;
}

/* 猜你喜欢列表 */
.like-center-bottom {
    height: 550;
    width: 1188px;
    border: 1px solid #E5E5E5;
}

.like-center-bottom div {
    width: 213px;
    height: 250px;
    /* border: 1px solid red; */
    float: left;
    margin: 20px 0 0 20px;
    border-radius: 5px;
}

.like-center-bottom div img {
    width: 213px;
    height: 119px;
}

.like-center-bottom div div:nth-child(2) {
    width: 213px;
    height: 22px;
    line-height: 22px;
    font-size: 16x;
    font-weight: 500;
    color: #222;
    margin: 4px 0px;
}

.like-center-bottom div div:nth-child(3) {
    width: 213px;
    height: 20px;
    background: url("../images/1620562035.jpg") no-repeat;
    margin: 3px 0px;

}

.like-center-bottom div div:nth-child(4) {
    width: 213px;
    height: 20px;
    color: #999;
    font-size: 12px;
    margin: 2px 0px;
}

.like-center-bottom div div:nth-child(5) {
    width: 213px;
    height: 22px;
    color: #222;
    font-size: 16px;
    margin: 5px 0px;
    color: #FF6600;
}

/* 副导航 */
.navbar {
    width: 100%;
    height: 300px;
    /* background: rgb(81, 234, 140); */
    margin-top: 50px;
}

.navbar-center {
    width: 1190px;
    height: 300px;
    /* background: rgb(140, 221, 235); */
    margin: 0 auto;
    border: 1px solid #e5e5e5;
}

/* 导航开始 */
.navbar-center-top {
    width: 1190px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #222;
    text-indent: 36px;
    /*文字缩进*/
}

.hotcity {
    width: 150px;
    height: 70px;
    font-size: 14px;
    color: #222;
    /* border: 1px solid red; */
    float: left;
    text-indent: 36px;
    /*文字缩进*/
}

.city {
    width: 1040px;
    height: 70px;
    font-size: 14px;
    color: #222;
    /* border: 1px solid red; */
    float: left;
}

.city-border {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

.city li {
    width: 100px;
    height: 35px;
    float: left;
    font-size: 14px;
    color: #222;
}

.city li:hover {
    color: #FF6600;
    cursor: pointer;
    /*变小手*/
}

/* 底部样式在com_footer.css里 */
